glumpy==1.1.0
matplotlib==3.2.1
pybullet==2.7.5
pyopengl==3.1.5
scipy==1.4.1
scikit-image==0.16.2
trimesh==3.6.35
torch==1.0.0
torchvision==0.2.2
tqdm==4.19.9
open3d==0.11.2
opencv-python-headless==4.5.1.48
pyyaml==5.4.1
